* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #666;
}

main {
    display: flex;
    justify-content: center;
    width: 200px;
    align-items: center;
    flex-direction: column;
}

#book-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#book-list img {
    width: 200px;
    height: 317px;
}

#BTNFilter {
    width: 200px;
    height: 50px;
}
